/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .notice {
  color: green;
 }

 .alert {
  color: red;
 }

 .header {
  background-color: lightcoral;
  width:100%;
  height:100px;
  margin:5px;
  overflow:hidden;
  float: right;
}

.title {
  position:relative;
  left:150px;
}

ul.menu {
  padding:100;
  margin:0;
  float:right;
}

li.menu {
  display:inline-block;
  padding:20px;
  border-radius: 5px;
  position:relative;
  top:-80px;
  right:30px;
  background:lightblue;
}

/* If 2 diff colours are needed... */
li.in {background:lightblue;}
li.up {background:lightblue;}

.content {
  background:lightsteelblue;
  padding:20px;
}

.admin {
  background:lightsteelblue;
  text-align:center;
}

.footer {
  background-color: lightseagreen;
  width:100%;
  height:100px;
  margin:5px;
  overflow:hidden;
  text-align:center;
}
